block header
  header.header
    a(class="header-logo" href="https://roistat.com/ru/")
      img(src="./img/logo.svg", alt="Logo")
    nav
      a.burger.jsOpenMenu(href="javascript:void(0)")
      ul.header-nav
        li.header-nav__item 
          a(href="javascript:void(0)") Наши предложения
        li.header-nav__item 
          a(href="javascript:void(0)") Цены