@import '../core/variables.styl';
.header
  container()
  position relative
  z-index 1
  display flex
  justify-content space-between
  align-items center
  padding: 27px 40px
  border-radius: 24px;
  box-shadow: inset 14.22px 15.23px 43.67px 0px rgba(194, 194, 194, 0.05),0px 65px 130px -5.08px rgba(0, 0, 0, 0.05)
  backdrop-filter: blur(31.48px)
  background: linear-gradient(129.29deg, rgba(250, 250, 250, 0.07) 2.71%,rgba(164, 164, 164, 0) 156.919%)
  +media(1200px)
    max-width 960px
  +media(960px)
    max-width 728px
    padding: 27px 20px
  +media(720px)
    max-width: 320px
    padding 16px
    border-radius: 16px;

  &-logo
    width 112px
    display block
    margin-right auto
    +media(720px)
      width 80px

  &-nav
    flex-shrink: 0
    display flex
    justify-content space-between
    align-items center
    width 364px
    +media(720px)
      display none
    &__item
      a
        padding 8px
        font-family $regularFont
        line-height: 1.1

.burger
  +media(720px)
    cursor pointer
    display block
    width 48px
    height 48px
    background url(../img/burger.svg) center no-repeat
    background-size cover