// Core
// @import "../../node_modules/normalize.css/normalize.css"
@import "./core/variables.styl"
@import "./core/mixins.styl"
@import "./core/fonts.styl"

// Commons modules
@import "./common/common.styl"
@import "./common/forms.styl" 
@import "./common/modals.styl"

// Modules
@import "./blocks/header.styl"
@import "./blocks/footer.styl"