@font-face {
  font-family: 'SuisseIntl';
  src: url('../fonts/Suisseintl/suisseintl.eot');
  src: url('../fonts/Suisseintl/suisseintl.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Suisseintl/suisseintl.woff2') format('woff2'),
    url('../fonts/Suisseintl/suisseintl.woff') format('woff'),
    url('../fonts/Suisseintl/suisseintl.ttf') format('truetype'),
    url('../fonts/Suisseintl/suisseintl.svg#suisseintl') format('svg');
}


@font-face {
  font-family: 'Unbounded-Black';
  src: url('../fonts/Unbounded/unbounded-black.eot');
  src: url('../fonts/Unbounded/unbounded-black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Unbounded/unbounded-black.woff2') format('woff2'),
    url('../fonts/Unbounded/unbounded-black.woff') format('woff'),
    url('../fonts/Unbounded/unbounded-black.ttf') format('truetype'),
    url('../fonts/Unbounded/unbounded-black.svg#unbounded-black') format('svg');
}

@font-face {
  font-family: 'Unbounded-Medium';
  src: url('../fonts/Unbounded/unbounded-medium.eot');
  src: url('../fonts/Unbounded/unbounded-medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Unbounded/unbounded-medium.woff2') format('woff2'),
    url('../fonts/Unbounded/unbounded-medium.woff') format('woff'),
    url('../fonts/Unbounded/unbounded-medium.ttf') format('truetype'),
    url('../fonts/Unbounded/unbounded-medium.svg#unbounded-medium') format('svg');
}
@font-face {
  font-family: 'Unbounded-Semibold';
  src: url('../fonts/Unbounded/unbounded-semibold.eot');
  src: url('../fonts/Unbounded/unbounded-semibold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Unbounded/unbounded-semibold.woff2') format('woff2'),
    url('../fonts/Unbounded/unbounded-semibold.woff') format('woff'),
    url('../fonts/Unbounded/unbounded-semibold.ttf') format('truetype'),
    url('../fonts/Unbounded/unbounded-semibold.svg#unbounded-semibold') format('svg');
}


