// Paths
$pathToImg    = "../img/"
$pathToDevImg = "../../src/img/"
$pathToFonts  = "../../src/fonts/"

// Fonts
$reserveFonts = 'Arial', sans-serif;
$mainFont     = 'SuisseIntl', $reserveFonts;
$boldFont     = 'Unbounded-Black', $reserveFonts;
$semiboldFont = 'Unbounded-Semibold', $reserveFonts;
$regularFont  = 'Unbounded-Medium', $reserveFonts;

// Sizes
$widthContent = 1360px
$heightHeader = 92px
$heightFooter = 220px
$gridHeight   = "calc( 100vh - %s - %s )" % ($heightHeader $heightFooter)

// Animation
$fast         = .3s ease-in-out all
$middle       = .5s ease-in-out all

// Colors
$black      = #151515
$white      = rgb(224, 234, 255)
$violet     = rgb(143, 143, 255)
$pink       = #FE64FA
$btn        = #8F8FFF
$btnHover   = #A3A3FF
$btnActive  = #6464FF
$yellow     = #FFEB1C